<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healdon">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".fam_add_mul_patient"></activity>
        <activity android:name=".Final_Score" />
        <activity android:name=".Voice_recorder" />
        <activity android:name=".MOCA_9" />
        <activity android:name=".MOCA_8" />
        <activity android:name=".MOCA_7" />
        <activity android:name=".MOCA_6" />
        <activity android:name=".MOCA_5" />
        <activity android:name=".MOCA_4" />
        <activity android:name=".MOCA_3" />
        <activity android:name=".MOCA_2" />
        <activity android:name=".MOCA_1" />
        <activity android:name=".doc_patient_game_details" />
        <activity android:name=".appoinment_status" />
        <activity android:name=".fam_upload_photo" />
        <activity android:name=".fam_register" />
        <activity android:name=".fam_sign_in" />
        <activity android:name=".User_request_appoinment" />
        <activity android:name=".Nearby_doctors" />
        <activity android:name=".doc_recieved_appointment" />
        <activity android:name=".doc_accepted_appointment" />
        <activity android:name=".doc_patient_details" />
        <activity android:name=".doc_homepage" />
        <activity android:name=".doc_register" />
        <activity android:name=".doc_sign_in" />
        <activity android:name=".Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WaterDrinkingReminder" />
        <activity android:name=".Routine" />
        <activity android:name=".MedicationReminder" />
        <activity
            android:name=".Homepage"
            android:screenOrientation="portrait" />
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>